.gbd_box {
  // margin: 0.5rem 0.5rem;
  li {
    font-size: small;
  }
}

.gbd_fill_row {
  background: #144a9d;
  color:azure;
  font-weight: bold;
  padding: 0.4rem 0;
}

.gbd-fill {
  background: #144a9d;
  width: 100%;
  margin: 0;
  padding: 0;
}

.gbd_address > span {
  font-size: small !important;
}

p.my-1 {
  font-size: small;
}

.gbd-small {
  font-size: 12px;
}

.gbd-small-bold {
  font-size: 12px;
  font-weight: bold;
}
// .signature {
//   max-width: 6cm;
//   object-fit: contain;
// }

// #b81319